@font-face {
	font-family: 'Foco';
	src: url('../fonts/Foco_Trial.woff2') format('woff2'), url('../fonts/Foco_Trial.woff') format('woff')  ;
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: 'FocoRg';
	src: url('../fonts/Foco_Trial_Rg.woff2') format('woff2'), url('../fonts/Foco_Trial_Rg.woff') format('woff')  ;
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: 'Mplus';
	src: url('../fonts/Rounded-Mplus-1c.woff2') format('woff2'), url('../fonts/Rounded-Mplus-1c.woff') format('woff')  ;
	font-style: normal;
}



